@model IEnumerable<ShipmentIndexServiceModel>
@inject IDriverService driverService

@{
    ViewData["Title"] = "Home Page";
    bool first = true;
    var shipments = Model.ToList();
}

@if (Model.Count() == 0)
{
    <div                style="background-color: #09223c; color: #ffd500;" class="mt-4 p-5" >
        <h1             style="background-color: #09223c; color: #ffd500;"  class="display-4" >Welcome to the best place for renting car!</h1>
        <p class="lead" style="background-color: #09223c; color: #ffd500;">
            There are no cars or routes in the system currently available
            so why don't you just add one?
        </p>
        <hr            style="background-color: #09223c; color: #ffd500;" class="my-4">
        <p             style="background-color: #09223c; color: #ffd500;" class="lead">
            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
            {
                <a style=" background-color: #09223c; color: #ffd500;" asp-controller="Shipments" asp-action="Add" class="btn btn-primary
                role="button">Add Shipment</a>
            }
        </p>
    </div>
}

<div style="background-color: #09223c; color: #ffd500;" class="mb-5"></div>
<hr />
<div style="background-color: #09223c; color: #ffd500;" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div  style="background-color: #09223c; color: #ffd500;" class="carousel-inner">
        @for (int i = 0; i < shipments.Count(); i++)
        {
            var shipment = shipments[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img style="background-color: #09223c; color: #ffd500; height:500px;" class="d-block w-100"
                     src="@shipment.ImageUrlShipmentGoogleMaps" alt="@shipment.Title">
                <div style="background-color: #09223c; color: #ffd500;" class="carousel-caption d-none d-md-block">
                    <h5>
                        <a style="background-color: #09223c; color: #ffd500;" class="btn btn-primary" asp-controller="Shipments" asp-action="Details"
                           asp-route-id="@shipment.ShipmentId"
                           asp-route-information="@shipment.GetInformation()"> @shipment.Title</a>
                    </h5>
                </div>
            </div>
       
        }
    </div>
    <button     style="background-color: #09223c; color: #ffd500;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span   style="background-color: #09223c; color: #ffd500;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span   style="background-color: #09223c; color: #ffd500;" class="visually-hidden">Previous</span>
    </button>
    <button     style="background-color: #09223c; color: #ffd500;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span   style="background-color: #09223c; color: #ffd500;"  class="carousel-control-next-icon" aria-hidden="true"></span>
        <span   style="background-color: #09223c; color: #ffd500;"  class="visually-hidden">Next</span>
    </button>
</div>
<div            style="background-color: #09223c; color: #ffd500;" class="mb-5"></div>
<div            style="background-color: #09223c; color: #ffd500;" class="row">
    <div        style="background-color: #09223c; color: #ffd500;" class="col-12 text-center">
        <button style="background-color: #09223c; color: #ffd500;" class="btn btn-primary" id="statistics-button" >Show Statistics</button>
    </div>
</div>

<div            style="background-color: #09223c; color: #ffd500;" class="mt-4 p-5  d-none" id="statistics">
    <div        style="background-color: #09223c; color: #ffd500;" class="row">
        <h2     style="background-color: #09223c; color: #ffd500;" class="col-md-6 text-center" id="total-shipments"></h2>
        <h2     style="background-color: #09223c; color: #ffd500;" class="col-md-6 text-center" id="total-rents"></h2>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistic', (data) => {
                $('#total-Shipments').text(data.TotalExecutedShipments + " Shipments");
                $('#total-rents').text(data.totalRents + " Rents");
                $('#statistics')..removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}