@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center" style="color: yellow;">@ViewBag.Title</h2>
<hr />

<table class="table table-striped" style="background-color: lightgray;">
    <thead>
        <tr>
            <th><label style="color: yellow;">Email</label></th>
            <th><label style="color: yellow;">Full Name</label></th>
            <th><label style="color: yellow;">Phone Number</label></th>
            <th><label style="color: yellow;">User Is Driver</label></th>
            <th><label style="color: yellow;">Actions</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label style="color: yellow;">@user.Email</label></td>
                <td><label style="color: yellow;">@user.FullName</label></td>
                <td><label style="color: yellow;">@user.PhoneNumber</label></td>
                <td>
                    @if (string.IsNullOrEmpty(user.PhoneNumber) == false)
                    {
                        <label style="color: yellow;">✔</label>
                    }
                    else
                    {
                        <label class="text-center" style="color: yellow;">❌</label>
                    }
                </td>
                <td>
                    <form asp-area="Admin" asp-controller="User" asp-action="Forget" asp-route-userId="@user." method="post">
                        <button type="submit" class="btn btn-danger" style="background-color: lightgray; color: black;">Forget</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>