@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center" style="background-color: #09223c; color: #ffd500;">@ViewBag.Title</h2>
<hr />

<table class="table table-striped" style="background-color: #09223c; color: #ffd500;">
    <thead>
        <tr>
            <th><label style="background-color: #09223c; color: #ffd500;">Email</label></th>
            <th><label style="background-color: #09223c; color: #ffd500;">Full Name</label></th>
            <th><label style="background-color: #09223c; color: #ffd500;">Phone Number</label></th>
            <th><label style="background-color: #09223c; color: #ffd500;">User Is Driver</label></th>
            <th><label style="background-color: #09223c; color: #ffd500;">Actions</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label style="background-color: #09223c; color: #ffd500;">@user.Email</label></td>
                <td><label style="background-color: #09223c; color: #ffd500;">@user.FullName</label></td>
                <td><label style="background-color: #09223c; color: #ffd500;">@user.PhoneNumber</label></td>
                <td>
                    @if (string.IsNullOrEmpty(user.PhoneNumber) == false)
                    {
                        <label style="background-color: #09223c; color: #ffd500;">✔</label>
                    }
                    else
                    {
                        <label class="text-center" style="background-color: #09223c; color: #ffd500;">❌</label>
                    }
                </td>
                <td>
                    <form asp-area="Admin" style="background-color: #09223c; color: #ffd500;"  asp-controller="Users" asp-action="Forget" asp-route-userId="@user." method="post">
                        <button type="submit" style="background-color: #09223c; color: #ffd500;"  class="btn btn-danger">Forget</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>