@using CarRentingSystem.Controllers
@using CarRentingSystem.Core.Extensions
@model ShipmentServiceModel

<div class="col-md-4">
    <div class="card mb-3" style="background-color: #09223c; color: #ffd500;">
        <img class="card-img-top" src="@Model.ImageUrlShipmentGoogleMaps" alt="Shipment Marshrut">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Address: <b>@Model.LoadingAddress</b></h6>
            <h6>Address: <b>@Model.DeliveryAddress</b></h6>
            <h6>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <h6>(@(Model.IsRented ? "Rented" : "Not Rented"))</h6>
            <br />
            <a asp-area="" asp-controller="Shipment" asp-action="Details" asp-Shipment-id="@Model.ShipmentId"
               asp-route-information="@Model.GetInformation()" class="btn btn-success" style="background-color: lightgray; color: black;">Details</a>
            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Shipment" asp-action="Edit" asp-route-id="@Model.ShipmentId"
                   class="btn btn-warning" style="background-color: lightgray; color: black;">Edit</a>
                <a asp-area="" asp-controller="Shipment" asp-action="Delete" asp-route-id="@Model.ShipmentId"
                   class="btn btn-danger" style="background-color: lightgray; color: black;">Delete</a>
                <p></p>
                @if (!Model.IsRented)
                {
                    <form class="input-group-sm" asp-area="" asp-controller="Shipment"
                          asp-action="Rent" asp-route-id="@Model.ShipmentId" method="post">
                        <input class="btn btn-primary" type="submit" value="Rent" style="background-color: lightgray; color: black;" />
                    </form>
                }
                else
                {
                    <form asp-area="" asp-controller="Shipment" asp-action="Leave"
                          asp-route-id="@Model.ShipmentId" method="post">
                        <input class="btn btn-primary" type="submit" value="Leave" style="background-color: lightgray; color: black;" />
                    </form>
                }
            }
        </div>
    </div>
</div>