@model AllShipmentsQueryModel
@{
    ViewBag.Title = "All Shipments";
}

<h2 style="background-color: #09223c; color: #ffd500;" class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">

    <div style="background-color: #09223c; color: #ffd500;" class="row" >

        <div style="background-color: #09223c; color: #ffd500;" class="form-group col-md-3 d-flex justify-content-between" >
            <div style="background-color: #09223c; color: #ffd500;" class="form-group" >
                <label style="background-color: #09223c; color: #ffd500;" asp-for="Category"></label>
                <select style="background-color: #09223c; color: #ffd500 " asp-for="Category" class="form-control">
                    <option style="background-color: #09223c; color: #ffd500;"value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option style=" background-color: #09223c; color: #ffd500;" value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div style="background-color: #09223c; color: #ffd500;" class="form-group col-md-3" >
            <label style="background-color: #09223c; color: #ffd500;" asp-for="SearchTerm" ></label>
            <input style="background-color: #09223c; color: #ffd500;" asp-for="SearchTerm"class="form-control" placeholder="...">
        </div>

        <div style="background-color: #09223c; color: #ffd500;" class="form-group col-md-3">
            <div style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label style="background-color: #09223c; color: #ffd500;" asp-for="Sorting"></label>

                <select style="background-color: #09223c; color: #ffd500;" asp-for="Sorting"class="form-control">
                    <option style="background-color: #09223c; color: #ffd500;" value="0">Newest</option>
                    <option style="background-color: #09223c; color: #ffd500;" value="1">Lowest price first</option>
                    <option style="background-color: #09223c; color: #ffd500;" value="2">Not rented first</option>
                </select>
            </div>
        </div>

        <div style="background-color: #09223c; color: #ffd500;" class="col-md-3" >

            <div style="background-color: #09223c; color: #ffd500;" class="form-group mt-4 p-2">
                <input style="background-color: #09223c; color: #ffd500;" type="submit" value="Search"  class="btn btn-primary" />
            </div>
        </div>

    </div>

</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalShipmentsCount /
        AllShipmentsQueryModel.ShipmentsPerPage);
}

<div style="background-color: #09223c; color: #ffd500;"  class="row mb-5">
    <div style="background-color: #09223c; color: #ffd500;" class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a style="background-color: #09223c; color: #ffd500;" class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Shipments"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Shipments.Any();
    }

    <div style="background-color: #09223c; color: #ffd500;" class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a style="background-color: #09223c; color: #ffd500;" class="btn btn-primary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Shipments"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.Shipments.Any())
{
    <h2  style="background-color: #09223c; color: #ffd500;" class="text-center">No Cars found by the given criteria!</h2>
}

<div style="background-color: #09223c; color: #ffd500;" class="row">
    @foreach (var shipment in Model.Shipments)
    {
        <partial style="background-color: #09223c; color: #ffd500;" name="ShipmentPartial" model="@shipment"  />
    }
</div>