@model ShipmentDetailsServiceModel


@{
    ViewBag.Title = "Shipment Details";
}

<h2 style="background-color: #09223c; color: #ffd500;" class="text-center" >@ViewBag.Title</h2>
<hr />

<div style=" background-color: #09223c; color: #ffd500; display:inline" class="container">
    
    <div style=" background-color: #09223c; color: #ffd500;" class="row" >
        <div  class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrlShipmentGoogleMaps" alt="Shipment Image">
        </div>
        <div   style="background-color: #09223c; color: #ffd500;" class="card col-8 border-0" >
            <p style="background-color: #09223c; color: #ffd500; font-size:25px;" ><u>@Model.Title</u></p>
            <p>Located in: <b>@Model.LoadingAddress</b></p>
            <p>Located in: <b>@Model.DeliveryAddress</b></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p    style="background-color: #09223c; color: #ffd500;">@Model.Description</p>
            <p    style="background-color: #09223c; color: #ffd500;">Category: <b>@Model.Category</b></p>
            <i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i>
            <div  style="background-color: #09223c; color: #ffd500;" class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a style=" background-color: #09223c; color: #ffd500;"  class="btn btn-warning" asp-controller="Shipments" asp-action="Edit"
                       asp-route-id="@Model.ShipmentId" >Edit</a>
                    <a style=" background-color: #09223c; color: #ffd500;"  class="ml-2 btn btn-danger" asp-controller="Shipments" asp-action="Delete"
                       asp-route-id="@Model.ShipmentId" >Delete</a>
                    <a style=" background-color: #09223c; color: #ffd500;" class="ml-2 btn btn-green" asp-controller="Shipments" asp-action="Details"
                       asp-route-id="@Model.ShipmentId">Details</a>
                    @if (!Model.IsRented)
                    {
                        <form     style=" background-color: #09223c; color: #ffd500;" class="ml-2" asp-controller="Shipments"
                              asp-action="Rent" asp-route-id="@Model.ShipmentId" method="post">
                            <input style="background-color: #09223c; color: #ffd500;" class="btn btn-primary" type="submit" value="Rent"  />
                        </form>
                    }
                    else
                    {
                        <form     style=" background-color: #09223c; color: #ffd500;" class="ml-2" asp-controller="Shipments" asp-action="Leave"
                              asp-route-id="@Model.ShipmentId" method="post">
                            <input style="background-color: #09223c; color: #ffd500;"class="btn btn-primary" type="submit" value="Leave"/>
                        </form>
                    }
                }
            </div>
            <p></p>
            <div       style=" background-color: #09223c; color: #ffd500;width: 18rem;" class="card">
                <div    style="background-color: #09223c; color: #ffd500;" class="card-body">
                    <h5 style="background-color: #09223c; color: #ffd500;" class="card-title">Driver Info</h5>
                    <p  style="background-color: #09223c; color: #ffd500;" class="card-text">Email:  @Model.Driver.Email</p>
                    <p  style="background-color: #09223c; color: #ffd500;" class="card-text">Phone Number: @Model.Driver.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>